@model IEnumerable<DienMayQuyetTien.Areas.Admin.Models.Product>

@{
    ViewBag.Title = "Home";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
            <!-- Data table area Start-->
<div class="admin-dashone-data-table-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="sparkline8-list shadow-reset">
                    <div class="sparkline8-hd">
                        <div class="main-sparkline8-hd">
                            <h1>Product List</h1>
                        </div>
                    </div>
                    <div class="sparkline8-graph">
                        <div class="datatable-dashv1-list custom-datatable-overright">
                            <div id="toolbar">
                                <a href="@Url.Action("Create", "Home")" class="btn btn-custon-four btn-primary">Add Product New</a>
                            </div>
                            <table id="table" data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true" data-show-pagination-switch="true" data-show-refresh="true" data-key-events="true" data-show-toggle="false" data-resizable="true" data-cookie="true" data-cookie-id-table="saveId" data-show-export="false" data-click-to-select="true" data-toolbar="#toolbar">
                                <thead>
                                    <tr>
                                        <th data-field="code">Code</th>
                                        <th data-field="name">Name</th>
                                        <th data-field="sale">Sale</th>
                                        <th data-field="origin">Origin</th>
                                        <th data-field="installment">Installment</th>
                                        <th data-field="quantity">Quantity</th>
                                        <th data-field="avatar">Avatar</th>
                                        <th data-field="status">Status</th>
                                        <th data-field="action">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => item.ProductCode)</td>
                                            <td>@Html.DisplayFor(modelItem => item.ProductName)</td>
                                            <td>@String.Format("{0:0,0} VND", item.SalePrice)</td>
                                            <td>@String.Format("{0:0,0} VND", item.OriginPrice)</td>
                                            <td>@String.Format("{0:0,0} VND", item.InstallmentPrice)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Quantity)</td>
                                            <td>
                                                <img src="@item.Avatar" width="100" />
                                            </td>
                                            <td>
                                                @if (item.Status == null)
                                                {
                                                    <div class="btn-group project-list-ad-rd">
                                                        <button class="btn btn-white btn-xs">Not set</button>
                                                    </div>
                                                }
                                                else if (item.Status == true)
                                                {
                                                    <div class="btn-group project-list-ad">
                                                        <button class="btn btn-white btn-xs">True</button>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="btn-group project-list-ad-bl">
                                                        <button class="btn btn-white btn-xs">False</button>
                                                    </div>
                                                }
                                            </td>
                                            <td>
                                                <div class="btn-group project-list-action">
                                                    <a style="color: #fff" href="@Url.Action("Edit", "Home", new { id = item.ID })" class="btn btn-white btn-action btn-xs"><i class="fa fa-pencil"></i> Edit</a>
                                                    <a class="btn btn-white btn-xs" style="color: #fff" href="@Url.Action("Delete", "Home", new { id = item.ID })"><i class="fa fa-trash"></i> Delete</a>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Data table area End-->