@model IEnumerable<DienMayQuyetTien.Areas.Admin.Models.CashBill>

@{
    ViewBag.Title = "Hóa đơn tiền mặt";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<!-- Static Table Start -->
<div class="data-table-area mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                @if (ViewBag.Message != null)
                {
                    <div class="alert alert-info mg-t-30">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <strong>Thông báo!</strong> @ViewBag.Message
                    </div>
                }
                <div class="sparkline13-list shadow-reset">
                    <div class="sparkline13-hd">
                        <div class="main-sparkline13-hd">
                            <h1>Cash Bills <span class="table-project-n">List</span></h1>
                            <div class="sparkline13-outline-icon">
                                <span class="sparkline13-collapse-link"><i class="fa fa-chevron-up"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="sparkline13-graph">
                        <div class="datatable-dashv1-list custom-datatable-overright">
                            <div id="toolbar">
                                <a href="@Url.Action("Create", "CashBills")" class="btn btn-custon-four btn-primary"><i class="fa big-icon fa-plus"></i> Add Cash Bill New</a>
                            </div>
                            <table id="table" data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true" data-show-pagination-switch="true" data-show-refresh="false" data-key-events="true" data-show-toggle="false" data-resizable="true" data-cookie="true" data-cookie-id-table="saveId" data-show-export="false" data-click-to-select="false" data-toolbar="#toolbar">
                                <thead>
                                    <tr>
                                        <th data-field="billcode">Code</th>
                                        <th data-field="name">Customer</th>
                                        <th data-field="phone">Phone</th>
                                        <th data-field="date">Date</th>
                                        <th data-field="shipper">Shipper</th>
                                        <th data-field="note">Note</th>
                                        <th data-field="total">Grand Totoal</th>
                                        <th data-field="action">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                @foreach (var item in Model)
                                {
                                    var myModal = "myModal" + item.ID;
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.BillCode)</td>
                                        <td>@Html.DisplayFor(modelItem => item.CustomerName)</td>
                                        <td>@Html.DisplayFor(modelItem => item.PhoneNumber)</td>
                                        <td>@String.Format("{0:d/M/yyyy}", item.Date)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Shipper)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Note)</td>
                                        <td>@String.Format("{0:0,0} VND", item.GrandTotal)</td>
                                        <td>
                                            <div class="btn-group project-list-action">
                                                <a style="color: #fff"  target="_blank" href="@Url.Action("Print", "CashBills", new { id = item.ID })" class="btn btn-white btn-action btn-xs"><i class="fa fa-print"></i> Print</a>
                                                <a style="color: #fff" href="@Url.Action("Edit", "CashBills", new { id = item.ID })" class="btn btn-white btn-action btn-xs"><i class="fa fa-pencil"></i> Edit</a>
                                                <a data-toggle="modal" data-target="#@myModal" data-whatever="@item.ID" class="btn btn-white btn-xs" style="color: #fff"><i class="fa fa-trash"></i> Delete</a>
                                                <!-- Modal -->
                                                @using (Html.BeginForm("Delete", "CashBills", new { id = item.ID }))
                                                {
                                                    @Html.AntiForgeryToken()
                                                    <div class="modal fade" id="@myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                                        <div class="modal-dialog modal-sm" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                                    <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
                                                                </div>
                                                                <div class="modal-body">
                                                                    Bạn có chắc chắn muốn xóa: <span><b>@item.BillCode?</b></span>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                                    <input type="submit" value="Delete" class="btn btn-danger" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </td>

                                    </tr>
                                }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Static Table End -->