@model DienMayQuyetTien.Areas.Admin.Models.ReceiptCBModel
@{
    ViewBag.Title = "Print Cash Bill";
    int i = 1;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Print Cash Bill</title>
    <link rel="stylesheet" href="~/Content/style.css" media="all" />
</head>
<body>
    <header class="clearfix">
        <div id="logo">
            <img src="~/Assets/Admin/img/logo/logo.png">
        </div>
        <div id="company">
            <h2 class="name">Điện máy Quyết Tiến</h2>
            <div>45 Nguyễn Khắc Nhu, phường Cô Giang, Quận 1</div>
            <div>0773322489</div>
            <div><a href="http://DmQuyetTien.AzureWebsites.net">DmQuyetTien.AzureWebsites.Net</a></div>
        </div>
    </header>
    <main>
        <div id="details" class="clearfix">
            <div id="client">
                <div class="to">INVOICE TO:</div>
                <h2 class="name">@Model.CustomerName</h2>
                <div class="address">Address: @Model.Address</div>
                <div class="name">Phone: @Model.PhoneNumber</div>
            </div>
            <div id="invoice">
                <h1>@Model.BillCode</h1>
                <div class="date">Date of Invoice: @Model.Date</div>
                <div class="date">Shipper: @Model.Shipper</div>
            </div>
        </div>
        <table border="0" cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                    <th class="no">#</th>
                    <th class="desc">Tên SP</th>
                    <th class="unit">Đơn giá</th>
                    <th class="qty">Số lượng</th>
                    <th class="total">Thành tiền</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var item in Model.cashBillDetail)
                    {
                        <tr>
                            <td class="no">@i</td>
                            <td class="desc"><h3>@Html.DisplayFor(modelItem => item.Product.ProductName)</h3></td>
                            <td class="unit">@string.Format("{0:0,0}", item.SalePrice)</td>
                            <td class="qty">@Html.DisplayFor(modelItem => item.Quantity)</td>
                            <td class="total">@string.Format("{0:0,0}", item.Quantity * item.SalePrice)</td>
                        </tr>
                        i++;
                    }
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2"></td>
                    <td colspan="2">Tổng tiền</td>
                    <td>@string.Format("{0:0,0} VNĐ", Model.GrandTotal)</td>
                </tr>
            </tfoot>
        </table>
        <div id="thanks">Thank you!</div>
        <div id="notices">
            <div>NOTE:</div>
            <div class="notice">@Model.Note</div>
        </div>
    </main>
    <footer>
        Invoice was created on a computer and is valid without the signature and seal.
    </footer>
</body>
</html>
