@model IEnumerable<DienMayQuyetTien.Areas.Admin.Models.Product>
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="banner">
    <div class="container">
        <div class="banner">
            <div class="item-banner">
                <a href="">
                    <img src="~/Assets/Client/images/b01.jpg">
                </a>
            </div>
            <div class="item-banner">
                <a href="">
                    <img src="~/Assets/Client/images/b02.jpg">
                </a>
            </div>
            <div class="item-banner">
                <a href="">
                    <img src="~/Assets/Client/images/b03.jpg">
                </a>
            </div>
        </div>
    </div>
</section>
<section id="content">
    <div class="container">
        <div class="list-product">
            <div class="list-header-z">
                <h2><a href="dien-thoai" style="color: #ff9800">Điện thoại</a></h2>
                <ul class="sub-category">
                    <li>
                        <a href="san-pham/iphone" title="Iphone" class="ws-nw overflow ellipsis">
                            Iphone
                        </a>
                    </li>
                    <li>
                        <a href="san-pham/samsung" title="Samsung" class="ws-nw overflow ellipsis">
                            Samsung
                        </a>
                    </li>
                    <li>
                        <a href="san-pham/oppo" title="Oppo" class="ws-nw overflow ellipsis">
                            Oppo
                        </a>
                    </li>
                    <li>
                        <a href="san-pham/huawei" title="Huawei" class="ws-nw overflow ellipsis">
                            Huawei
                        </a>
                    </li>
                    <li>
                        <a href="san-pham/asus-dt" title="Asus ( ĐT )" class="ws-nw overflow ellipsis">
                            Asus ( ĐT )
                        </a>
                    </li>
                    <li>
                        <a href="san-pham/lg" title="LG" class="ws-nw overflow ellipsis">
                            LG
                        </a>
                    </li>
                    <li>
                        <a href="san-pham/sony" title="Sony" class="ws-nw overflow ellipsis">
                            Sony
                        </a>
                    </li>
                    <li>
                        <a href="san-pham/khac" title="Khác" class="ws-nw overflow ellipsis">
                            Khác
                        </a>
                    </li>
                </ul>
            </div>
            <div class="list-product-content">
                @foreach (var item in Model.Where(c => c.ProductTypeID == 1))
                {
                    <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2 product-one">
                        <div class="image-product">
                            <a href="" title="@item.ProductName">
                                <img src="@item.Avatar" class="img-bg">
                            </a>
                            <h4>
                                <a href="" title="@item.ProductName" class="ws-nw overflow ellipsis">
                                    @item.ProductName
                                </a>
                            </h4>
                        </div>
                        <div class="price-product-item">
                            <span class="">@String.Format("{0:0,0}", item.SalePrice)₫</span>
                            <span style="color: #000000">@String.Format("{0:0,0}", item.InstallmentPrice)₫</span>
                        </div>
                        <div class="btn-action">
                            <button type="button" class="fa fa-shopping-cart"></button>
                            <button type="button" class="fa fa-eye"></button>
                        </div>
                    </div>
                }
            </div>
            <div class="footer-load-more">
                <a href="san-pham/dien-thoai">
                    <p class="text-center">
                        Xem thêm
                    </p>
                </a>
            </div>
        </div>
        <div class="list-product">
            <div class="list-header-z">
                <h2><a href="laptop" style="color: #3c8dbc">Laptop</a></h2>
                <ul class="sub-category">
                    <li>
                        <a href="san-pham/macbook" title="Macbook" class="ws-nw overflow ellipsis">
                            Macbook
                        </a>
                    </li>
                    <li>
                        <a href="san-pham/hp" title="HP" class="ws-nw overflow ellipsis">
                            HP
                        </a>
                    </li>
                    <li>
                        <a href="san-pham/dell" title="Dell" class="ws-nw overflow ellipsis">
                            Dell
                        </a>
                    </li>
                    <li>
                        <a href="san-pham/lenovo" title="Lenovo" class="ws-nw overflow ellipsis">
                            Lenovo
                        </a>
                    </li>
                    <li>
                        <a href="san-pham/acer" title="Acer" class="ws-nw overflow ellipsis">
                            Acer
                        </a>
                    </li>
                    <li>
                        <a href="san-pham/asus-lt" title="Asus (LT)" class="ws-nw overflow ellipsis">
                            Asus
                            (LT)
                        </a>
                    </li>
                </ul>
            </div>
            <div class="list-product-content">
                @foreach (var item in Model.Where(c => c.ProductTypeID == 6))
                {
                    <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2 product-one">
                        <div class="image-product">
                            <a href="" title="@item.ProductName">
                                <img src="@item.Avatar" class="img-bg">
                            </a>
                            <h4>
                                <a href="" title="@item.ProductName" class="ws-nw overflow ellipsis">
                                    @item.ProductName
                                </a>
                            </h4>
                        </div>
                        <div class="price-product-item">
                            <span class="">@String.Format("{0:0,0}", item.SalePrice)₫</span>
                            <span style="color: #000000">@String.Format("{0:0,0}", item.InstallmentPrice)₫</span>
                        </div>
                        <div class="btn-action">
                            <button type="button" class="fa fa-shopping-cart"></button>
                            <button type="button" class="fa fa-eye"></button>
                        </div>
                    </div>
                }
            </div>
            <div class="footer-load-more">
                <a href="san-pham/dien-thoai">
                    <p class="text-center">
                        Xem thêm
                    </p>
                </a>
            </div>
        </div>
        <div class="list-product">
            <div class="list-header-z">
                <h2><a href="laptop" style="color: #ff006e">Máy ảnh</a></h2>
                <ul class="sub-category">
                    <li>
                        <a href="" title="Macbook" class="ws-nw overflow ellipsis">
                            Cannon
                        </a>
                    </li>
                    <li>
                        <a href="" title="" class="ws-nw overflow ellipsis">
                            Sony
                        </a>
                    </li>
                    <li>
                        <a href="" title="" class="ws-nw overflow ellipsis">
                            Fujifirm
                        </a>
                    </li>
                    <li>
                        <a href="" title="" class="ws-nw overflow ellipsis">
                            Khác
                        </a>
                    </li>
                </ul>
            </div>
            <div class="list-product-content">
                @foreach (var item in Model.Where(c => c.ProductTypeID == 5))
                {
                    <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2 product-one">
                        <div class="image-product">
                            <a href="" title="@item.ProductName">
                                <img src="@item.Avatar" class="img-bg">
                            </a>
                            <h4>
                                <a href="" title="@item.ProductName" class="ws-nw overflow ellipsis">
                                    @item.ProductName
                                </a>
                            </h4>
                        </div>
                        <div class="price-product-item">
                            <span class="">@String.Format("{0:0,0}", item.SalePrice)₫</span>
                            <span style="color: #000000">@String.Format("{0:0,0}", item.InstallmentPrice)₫</span>
                        </div>
                        <div class="btn-action">
                            <button type="button" class="fa fa-shopping-cart"></button>
                            <button type="button" class="fa fa-eye"></button>
                        </div>
                    </div>
                }
            </div>
            <div class="footer-load-more">
                <a href="san-pham/dien-thoai">
                    <p class="text-center">
                        Xem thêm
                    </p>
                </a>
            </div>
        </div>
    </div>
</section>

