﻿@model IEnumerable<DienMayQuyetTien.Areas.Admin.Models.News>
@{
    ViewBag.Title = "Tin tức";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="list-product">
        <div class="list-header-z">
            <h2><a href="laptop" style="color: #f00">Tin Tức nổi bật</a></h2>
        </div>
        <div class="list-product-content">
            @foreach (var item in Model)
            {
                if (item.Status == true)
                {
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 product-one">
                        <div class="image-product">
                            <a href="" title="@item.Title">
                                <img src="@item.Image" class="img-bg">
                            </a>
                            <h3>
                                <a href="" title="@item.Title" class="ws-nw overflow ellipsis">
                                    <strong>@item.Title</strong>
                                </a>
                            </h3>
                        </div>
                        <div class="price-product-item">
                            @item.Description
                        </div>
                        <div class="btn-action">
                            <button type="button" class="fa fa-facebook"></button>
                            <button type="button" class="fa fa-eye"></button>
                        </div>
                    </div>
                }
            }
        </div>
        <div class="footer-load-more">
            <a href="san-pham/dien-thoai">
                <p class="text-center">
                    Xem thêm
                </p>
            </a>
        </div>
    </div>
    <div class="list-product">
        <div class="list-header-z">
            <h2><a href="laptop" style="color: #3c8dbc">Tin Tức</a></h2>
        </div>
        <div class="list-product-content">
            @foreach (var item in Model)
            {
                if (item.Status == false)
                {
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 product-one">
                        <div class="image-product">
                            <a href="" title="@item.Title">
                                <img src="@item.Image" class="img-bg">
                            </a>
                            <h3>
                                <a href="" title="@item.Title" class="ws-nw overflow ellipsis">
                                    <strong>@item.Title</strong>
                                </a>
                            </h3>
                        </div>
                        <div class="price-product-item">
                            @item.Description
                        </div>
                        <div class="btn-action">
                            <button type="button" class="fa fa-facebook"></button>
                            <button type="button" class="fa fa-eye"></button>
                        </div>
                    </div>
                }
            }
        </div>
        <div class="footer-load-more">
            <a href="san-pham/dien-thoai">
                <p class="text-center">
                    Xem thêm
                </p>
            </a>
        </div>
    </div>
</div>